# Session 1
---

[Reference](http://nbviewer.jupyter.org/github/idwaker/pysessions/blob/master/Python/Beginner/unit-01-datatypes-reference.ipynb)

### Sum of two numbers

In [1]:
# lets add two numbers 72 and 67
a = 72
b = 67
sum_of_addition = a + b
print(sum_of_addition)

139

*Review ( line by line )*

```python
1. # lets add two numbers 72 and 67
2. a = 72
3. b = 67
4. sum_of_addition = a + b
5. print(sum_of_addition)
```

1. __comment__ starts with __#__ symbol,
    - comments are part of code which are ignored by python, but is there for us to put notes/explanation of code.
2. we assign __72__ to __a__.
    - __a__ is _name_ we assign __72__ to, which is generally called as _variable_
3. similarly we assign __67__ to __b__
4. we add __a__ and __b__, and assign result to __sum\_of\_addition__
5. finally we are displaying result using __print__ function
    - [reference to print function]()

Finally we get result as __139__, But what happens when we change __72__ to __72.8__ and __67__ to __67.2__?

In [2]:
72.8 + 67.2

140.0

*There are two types of __numbers__ in python, __integer__ and __float__.*

- __integers__ are Negative numbers, 0 and Positive numbers.
- __floats__ are decimal numbers, the ones with decimal point in it.

In [3]:
1.8 + 6

7.8

*While using either integer or float, we get following result*

- Adding __int__ ( short for integer ) and __int__, we get result as __int__
- Adding __float__ and __float__, we get result as __float__
- Adding __int__ and __float__, we get result as __float__
    - This is because __float__ are stored in larger container than __int__.
    - And it is easier to put smaller values into larger container than to put larger values in smaller container without chopping data.

### Difference of two numbers

Try using __-__ operator instead of __+__ with different numbers.

In [4]:
89.4 - 12

77.4

### Problem 1: Smallest divisor

write a program to find smallest divisor of a given number.

In [15]:
number1 = 18

In [16]:
number1 % 2

0

In [17]:
number1 % 3

0

In [18]:
number1 % 4

2

**%** is remainder operator, above number **18** is perfectly divisible by **2** and **3** while not by **4**

In [22]:
num = input("Enter a number")

Enter a number25

*Much like __print__, __input__ is also a function, but it does exactly opposite of __print__. It get's some data from us*

*What we enter inside the box, is stored in variable __num__*

In [23]:
num

'25'

*The stored data is always string*

What happens if we tried to divide num by 2 ?

In [24]:
num / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Here is what happens:

1. __/__ is a division operator, ie we are trying to divide num by __2__
2. It gave us __TypeError__, it means we are trying to do something _stupid_.
    - Like in this case trying to divide a string, remember __'25'__ above in quotes.

Trying to do **num / 2** is same as **'25' / 2** like below,

In [25]:
'25' / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

So what to do ?

1. First we need to convert that string to a number
2. Then divide the number by 2

In [26]:
int('25')

25

In [35]:
int('25') / 2

12.5

*__int__ converts a string to a integer*

In [27]:
float('25')

25.0

*or in this case, __float__ converts a string to a float*

**But...**

In [28]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

*You cannot convert a "alphabets" to a number this way,*

*Every thing inside __"__ or __'__ is a string.*

*Let's get to our problem now*

we have a number stored in __num__

In [29]:
num

'25'

In [30]:
num = int(num)

*We convert given string of number into a integer now, and stored that in same name ie __num__*

*We can reuse a name/variable, *

Let's finish our problem

In [31]:
num % 2

1

In [32]:
num % 3

1

In [33]:
num % 4

1

In [34]:
num % 5

0

*So our smallest divisor for number __25__ is __5__*

### Solve: Problem 1

If the Roman alpabet has 26 letters, ordered as an alphabet **ABCDEFGHIJKLMNOPQSTUVWXYZ**, then an arbitrary word can be translated by rotating every letter by **13=26/2** places. Thus, **A** becomes **N**, **B** becomes **O** etc. Finally, letter **Z** is translated to **M**.

### Multiplication

In [ ]:
2 * 3

In [ ]:
2.5 * 5

### Power

In [ ]:
# square of 3
3 ** 2

In [ ]:
# power of three
3 ** 3

### Boolean

In [ ]:
True

In [ ]:
False

### Complex numbers

In [ ]:
2 + 7j

In [ ]:
1 + 5j + 6 + 8j

In [ ]:
1 + 5j + 8j + 6

In [ ]:
(1 + 5j) + (6 + 8j)

In [ ]:
(1 + 5j) - (6 + 8j)

### Strings

In [ ]:
# single line string
'This is a simple string'

In [ ]:
"This is another string"

In [ ]:
# multi line string
"""
this is multiline
 string with spaces.
"""

In [ ]:
'This is a 
simple string'

In [ ]:
'''
this is same as double-quoted triple
quote string
'''

#### Concatenation

In [ ]:
'a string ' + 'added together'

#### Repetition

In [ ]:
'hello world ' * 3

In [ ]:
'hello world ' * 3.0

**H/W** Use other operators with string

## Simple Problems

- [http://codingbat.com/prob/p182144](http://codingbat.com/prob/p182144)

In [ ]:
# Hi, Bye -> HiByeByeHi

# we are defining names for each words
first_word = 'Hi'
second_word = 'Bye'

final_word = first_word + second_word * 2 + first_word
print(final_word)

In [ ]:
# using string formatting
print("Result is '{}'".format(final_word))

In [ ]:
# solution 1
"Result is '" + final_word + "'"

In [ ]:
# solution 2
"Result is '%s'" % (final_word,)

In [ ]:
# solution 3
"Result is '{}'".format(final_word)

In [ ]:
# Name, Age, Year -> You will be 100 on year 2056

name = 'Python'
age = 25
year = 2016

hundredth_year = (100 - age) + year

notice = "Hello {}, You are {} in {} and You will be 100 on {}"

print(notice.format(name, age, year, hundredth_year))

In [ ]:
notice = """Hello {name}, 
You are {age} in {year} and You will be 100 on {hundredth}"""

In [ ]:
notice.format(
    name='Ruby',
    age=23,
    year=2016,
    hundredth=(100 - 23) + 2016
)

In [ ]:
notice.format(
    year=2016,
    hundredth=(100 - 5) + 2016,
    name='Rust',
    age=5
)

In [ ]:
age = 7
notice.format(
    year=year,
    hundredth=(100 - age) + year,
    name='Go',
    age=age
)

[See More](http://nbviewer.jupyter.org/github/idwaker/pysessions/blob/master/Python/Beginner/unit-01-datatypes-reference.ipynb#String-formatting) for string formatting

### String Slicing

[string slicing reference](vhttp://nbviewer.jupyter.org/github/idwaker/pysessions/blob/master/Python/Beginner/unit-01-datatypes-reference.ipynb#String-slicing)

In [ ]:
address = 'Kathmandu, Nepal'

# first char of address
print("First Char: ", address[0])

# length of address
print("Length: ", len(address))

# last char of address
print("Last Char: ", address[len(address) - 1])

In [ ]:
# last char of address
print("Last Char revised: ", address[-1])

address[start:end]

In [ ]:
print("First two chars: ", address[0:2])

In [ ]:
# start index defaults to 0
print("First two chars: ", address[:2])

address[start:end:step]

In [ ]:
print("First two chars skipped once: ", address[0:4:2])

In [ ]:
print("First four chars backwards: ", address[0:4:-1])

In [ ]:
print("First four chars backwards: ", address[4:0:-1])

In [ ]:
print("Whole string: ", address[:])

In [ ]:
print("Whole string backwards: ", address[::-1])