# Database
---

### RDMS ( Relational Database Management System )

**OpenSource**

1. PostgreSQL ( PostGIS )
2. MySQL family ( MySQL, MariaDB)
3. SQLite

**Proprietery**

1. Oracle
2. MSSQL


### NoSQL ( key/value based datastore )

1. MongoDB
2. RethinkDB

## Python and DBAPI

### SQLite3

In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('/tmp/test.sqlite3')

# Windows
# 'C:\\Temp\\'
# r'C:\Temp\db.sqlite3'

In [4]:
conn

In [5]:
cur = conn.cursor()

In [6]:
sql = '''
CREATE TABLE users(id INTEGER NOT NULL, 
                    username TEXT NOT NULL,
                    password TEXT NOT NULL,
                    status INTEGER DEFAULT 1)
'''

In [7]:
cur.execute(sql)

In [8]:
cur.execute('SELECT * FROM users')

In [9]:
cur.fetchall()

[]

In [10]:
cur.execute('''
INSERT INTO users(id, username, password, status)
            VALUES(1, 'firstuser', 'pass1', 1)
''')

In [11]:
cur.execute('SELECT * FROM users')

In [12]:
cur.fetchall()

[(1, 'firstuser', 'pass1', 1)]

In [13]:
cur.fetchall()

[]

**Create a second connection**

In [14]:
conn2 = sqlite3.connect('/tmp/test.sqlite3')

In [15]:
conn2

In [16]:
cur2 = conn2.cursor()

In [17]:
cur2.execute('SELECT * FROM users')

In [18]:
cur2.fetchall()

[]

In [19]:
conn2.close()

**commit old connection**

In [20]:
conn.commit()

**Again create new conneciton**

In [21]:
conn2 = sqlite3.connect('/tmp/test.sqlite3')

In [22]:
cur2 = conn2.cursor()

In [23]:
cur2.execute('SELECT * FROM users')

In [24]:
cur2.fetchall()

[(1, 'firstuser', 'pass1', 1)]

In [25]:
cur2.close()

**CRUD**

- Create Read Update Delete

In [27]:
cur.execute('''
INSERT INTO users(id, username, password, status)
            VALUES(2, 'test2', 'pass2', 1),
            (3, 'test3', 'pass2', 1),
            (4, 'test4', 'pass2', 0),
            (5, 'test5', 'pass2', 1),
            (6, 'test6', 'pass2', 0),
            (7, 'test7', 'pass2', 1),
            (8, 'test8', 'pass2', 0),
            (9, 'test9', 'pass2', 0),
            (10, 'test10', 'pass2', 1)
''')

In [28]:
cur.execute('select * from users')

In [29]:
cur.fetchall()

[(1, 'firstuser', 'pass1', 1),
 (2, 'test2', 'pass2', 1),
 (3, 'test3', 'pass2', 1),
 (4, 'test4', 'pass2', 0),
 (5, 'test5', 'pass2', 1),
 (6, 'test6', 'pass2', 0),
 (7, 'test7', 'pass2', 1),
 (8, 'test8', 'pass2', 0),
 (9, 'test9', 'pass2', 0),
 (10, 'test10', 'pass2', 1)]

In [30]:
conn.commit()

In [31]:
cur.execute('select * from users')

In [32]:
cur.fetchone()

(1, 'firstuser', 'pass1', 1)

In [33]:
cur.fetchone()

(2, 'test2', 'pass2', 1)

In [34]:
cur.fetchone()

(3, 'test3', 'pass2', 1)

In [35]:
cur.execute('select * from users where status=?', (0,))

In [36]:
cur.fetchall()

[(4, 'test4', 'pass2', 0),
 (6, 'test6', 'pass2', 0),
 (8, 'test8', 'pass2', 0),
 (9, 'test9', 'pass2', 0)]

In [37]:
cur.execute('UPDATE users SET password=? WHERE id=?', 
            ('new_password', 5))

In [38]:
cur.execute('select * from users where id=?', (5,))

In [39]:
cur.fetchall()

[(5, 'test5', 'new_password', 1)]

In [40]:
cur.execute('DELETE FROM users where id=?', (6,))

In [41]:
cur.execute('select * from users')

In [42]:
cur.fetchall()

[(1, 'firstuser', 'pass1', 1),
 (2, 'test2', 'pass2', 1),
 (3, 'test3', 'pass2', 1),
 (4, 'test4', 'pass2', 0),
 (5, 'test5', 'new_password', 1),
 (7, 'test7', 'pass2', 1),
 (8, 'test8', 'pass2', 0),
 (9, 'test9', 'pass2', 0),
 (10, 'test10', 'pass2', 1)]

In [43]:
conn.commit()

In [44]:
conn.close()